name: Tests
on: [push, pull_request]
jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - 3.8
          - 3.7
          - 3.6
        flask-version:
          - 1
    name: Python ${{ matrix.python-version }} & Flask ${{ matrix.flask-version }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Poetry
      run: |
        python -m venv .venv/
        .venv/bin/pip install poetry
    - name: Install dependencies
      run: |
        .venv/bin/pip install --upgrade pip
        .venv/bin/poetry install
    - name: Run tox
      run: .venv/bin/poetry run tox -e py${{ matrix.python-version }}-flask${{ matrix.flask-version }}
